[report]=
show_missing = True
omit=
    */.pytest_cache/*
    */__pycache__/*
    */venv/*
    */.pyc
    */env/*

    */.vscode/*
    */pytest_cache/*

    */api/
    */html/*
    *mimetypes.py*
    *hmac.py*
    *uuid.py*
    *numbers.py*
    */multiprocessing/*
    */ctypes/*
    *decimal.py*
    */home/*
    

