<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>StackOverFlow-lite</title>
        <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">

    </head>

    <body>
        <main-signup>
            <section id="Signup-section">
                <div class = "header">
                    <div class = "logo">
                        <h3>StackOverFlow-lite</h3>
                    </div>
                    <h3>Please login to gain access</h3>
                    <h4>Expect the response as soon as possible</h4>

                </div>
                <form>
                    
                        <div class = "form-element">
                            <label>Email address:</label>
                            <input type="email" name="email" placeholder="Email address" required>
                        </div>

                        <div class = "form-element">
                            <label>Password: </label>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>

                        <div class = "form-element">
                            <button type = "submit" name = "submit" class = "main-signup">Login</button>
                            
                        </div>
                        <div class="form-element Terms">
                            Don't have an account?
                            <a class="text-primary" href="signup.html">Signup</a> or 
                            <a class="text-primary" href="index.html">Go back</a>.
                        </div>
                        
                </form>
                
            </section>

        </main-signup>

    </body>

</html>